{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

<div id="title" class="text-center">
    <h1>Bienvenue sur Munchies</h1>
    <h2>Serveur Minecraft Moddé 1.18.2</h2>
</div>
{% endblock %}
